/*
Template: StreamLab - Streamlab - Video Streaming HTML5 Template
Author: Gentechtree
Version: 1.0
Design and Developed by: Gentechtree
*/
@media (max-width:1499px) {
	.gen-appstore-logo, .gen-playstore-logo { height: 38px; }
}